In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-11-10 17:56:47,-54.8000,-68.3000,55.06,50,20,4.61
1,1,Mataura,NZ,2021-11-10 18:00:21,-46.1927,168.8643,50.90,98,82,2.95
2,2,Castro,BR,2021-11-10 18:00:22,-24.7911,-50.0119,73.89,64,62,5.55
3,3,Ouargaye,BF,2021-11-10 18:00:22,11.5033,0.0572,91.69,27,19,2.10
4,4,Albany,US,2021-11-10 17:59:46,42.6001,-73.9662,59.16,41,46,4.00

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
#for temp in max_temp:
 #   temps.append(max(temp,0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#Heatmap of percent hudimity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating = False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Riyadh,SA,2021-11-10 17:55:27,24.6877,46.7219,75.34,28,2,10.47
11,11,Butaritari,KI,2021-11-10 18:00:24,3.0707,172.7902,81.73,65,36,13.85
12,12,Kamakwie,SL,2021-11-10 18:00:25,9.5000,-12.2333,78.58,87,98,4.54
19,19,Hilo,US,2021-11-10 18:00:26,19.7297,-155.0900,77.61,90,76,4.00
20,20,Dekar,BW,2021-11-10 18:00:27,-21.5333,21.9333,82.42,19,89,6.44
29,29,Hobyo,SO,2021-11-10 18:00:29,5.3505,48.5268,80.71,72,23,11.34
33,33,Avarua,CK,2021-11-10 18:00:30,-21.2078,-159.7750,75.25,83,60,9.22
34,34,Raga,SS,2021-11-10 18:00:31,8.4596,25.6780,84.31,44,83,5.17
35,35,Atuona,PF,2021-11-10 18:00:31,-9.8000,-139.0333,78.10,68,24,14.99
39,39,Dingle,PH,2021-11-10 17:59:03,10.9995,122.6711,76.32,94,89,7.43

In [34]:
preferred_cities_df.isnull().sum()
preferred_cities_df.count()

City_ID       167
City          167
Country       162
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [35]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Riyadh,SA,2021-11-10 17:55:27,24.6877,46.7219,75.34,28,2,10.47
11,11,Butaritari,KI,2021-11-10 18:00:24,3.0707,172.7902,81.73,65,36,13.85
12,12,Kamakwie,SL,2021-11-10 18:00:25,9.5000,-12.2333,78.58,87,98,4.54
19,19,Hilo,US,2021-11-10 18:00:26,19.7297,-155.0900,77.61,90,76,4.00
20,20,Dekar,BW,2021-11-10 18:00:27,-21.5333,21.9333,82.42,19,89,6.44
...,...,...,...,...,...,...,...,...,...,...
561,561,Quatre Cocos,MU,2021-11-10 18:15:34,-20.2078,57.7625,75.31,72,14,8.41
572,572,Tallahassee,US,2021-11-10 18:14:07,30.4383,-84.2807,76.08,59,40,1.99
576,576,Nioro,GM,2021-11-10 18:15:40,13.3500,-15.7500,88.39,26,72,3.53
578,578,Owo,NG,2021-11-10 18:15:41,7.1962,5.5868,75.15,90,53,5.12
580,580,Turbat,PK,2021-11-10 18:15:41,26.0023,63.0440,76.12,24,0,7.49

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
10      Riyadh      SA     75.34  24.6877   46.7219
11  Butaritari      KI     81.73   3.0707  172.7902
12    Kamakwie      SL     78.58   9.5000  -12.2333
19        Hilo      US     77.61  19.7297 -155.0900
20       Dekar      BW     82.42 -21.5333   21.9333
29       Hobyo      SO     80.71   5.3505   48.5268
33      Avarua      CK     75.25 -21.2078 -159.7750
34        Raga      SS     84.31   8.4596   25.6780
35      Atuona      PF     78.10  -9.8000 -139.0333
39      Dingle      PH     76.32  10.9995  122.6711

In [44]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try: 
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

except (IndexError):
    print("Hotel not found... skipping.")

In [52]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Riyadh,SA,75.34,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
11,Butaritari,KI,81.73,3.0707,172.7902,Isles Sunset Lodge
12,Kamakwie,SL,78.58,9.5000,-12.2333,
19,Hilo,US,77.61,19.7297,-155.0900,Hilo Hawaiian Hotel
20,Dekar,BW,82.42,-21.5333,21.9333,
29,Hobyo,SO,80.71,5.3505,48.5268,Halane Hotel and Restaurent
33,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
34,Raga,SS,84.31,8.4596,25.6780,
35,Atuona,PF,78.10,-9.8000,-139.0333,Villa Enata
39,Dingle,PH,76.32,10.9995,122.6711,SEGAYA PROPERTY

In [53]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))